:root {
  --cardSize: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  font-family: "Courier New", Courier, monospace;
}

.page-content {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(4, var(--cardSize));
  grid-template-rows: repeat(4, var(--cardSize));
  grid-gap: 1rem;
  width: max-content;
}

.controls {
  background-color: white;
  box-shadow: 0 0.75rem 1.5rem 0 rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  text-align: center;
  width: 20rem;
  position: relative;
  min-height: 28rem;
}

.controls form {
  margin: 1rem;
}

.selected-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.hidden {
  display: none;
}
