:root {
  --cardSize: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 2rem auto;
  font-family: "Courier New", Courier, monospace;
}

.page-content {
  display: flex;
  justify-content: space-evenly;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(4, var(--cardSize));
  grid-template-rows: repeat(4, var(--cardSize));
  grid-gap: 1rem;
  width: max-content;
}

.controls {
  border: 1px solid black;
  text-align: center;
  width: 20rem;
  position: relative;
}

.hidden {
  display: none;
}
